@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: black; */
}

